
.about {
    background-color: #f8f8f8;
    margin: auto;
    padding: 4rem 1rem 0 1rem;
    width: 100%;
}

.about .container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.about h2 {
    font-size: 3rem;
    border-bottom: 4px solid var(--primary-color);
}

.about .col-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem;
}
.about-me{
    font-size: 0.9em;
    line-height: normal;
}
.about-me p{
    margin-bottom: 1em;
}
.experience,
.about-me{
    margin: 0.2em 0;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.experience h3{
    font-size: 0.9em;
}
.experience p{
    font-size: 0.9em;
    line-height: normal;
}

.experience span{
    font-size: 0.9em;
    text-align: right;
    display: block;
    font-size: bolder;
}
/* .about .col-2 p:first-of-type {
    margin: 2rem 0;
}

.about .col-2 p:nth-child(4) {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
}

.about button {
    margin-top: 1rem;
} */

@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .container {
        width: 100%;
    }

    .about .container img {
        padding: 0rem;
        width: 90vw;
    }

    .about .container .col-2 {
        padding: 0;
    }

    .about button {
        margin-bottom: 1rem;
    }
}









