
.contact-wrapper{
    width: 100%;
    margin: 2em 0;
}

.contact__header{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.contact-me{
    width: 50%;
    margin: 0 auto;
    max-width: 1240px;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.phone {
    margin-bottom: 1em;
}

.phone p{
    font-size: 0.9em;
}

@media screen and (max-width: 940px) {
    .contact-me{
        width: 100%;
    }
}